n8n-workflows/daily-nutrition-report-FIXED.json
{
  "name": "Daily Nutrition Report - FIXED",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.email, u.name, COALESCE(up.daily_calorie_target, 2000) as daily_calorie_target, COALESCE(up.daily_protein_target, 50) as daily_protein_target, COALESCE(up.daily_carbs_target, 250) as daily_carbs_target, COALESCE(up.daily_fat_target, 65) as daily_fat_target, COALESCE(SUM(mfi.calories), 0) as total_calories, COALESCE(SUM(mfi.protein_g), 0) as total_protein, COALESCE(SUM(mfi.carbs_g), 0) as total_carbs, COALESCE(SUM(mfi.fat_g), 0) as total_fat FROM users u LEFT JOIN user_profiles up ON u.id = up.user_id LEFT JOIN meal_logs ml ON u.id = ml.user_id AND DATE(ml.logged_at) = CURRENT_DATE LEFT JOIN meal_food_items mfi ON ml.id = mfi.meal_log_id WHERE u.created_at >= NOW() - INTERVAL '30 days' GROUP BY u.id, u.email, u.name, up.daily_calorie_target, up.daily_protein_target, up.daily_carbs_target, up.daily_fat_target"
      },
      "name": "Get User Nutrition Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate nutrition insights and generate report\nconst userData = $input.all();\nconst reports = [];\n\nfor (const user of userData) {\n  const data = user.json;\n  const insights = [];\n  const caloriePercentage = (data.total_calories / data.daily_calorie_target) * 100;\n  const proteinPercentage = (data.total_protein / data.daily_protein_target) * 100;\n  \n  // Generate insights based on performance\n  if (caloriePercentage < 80) {\n    insights.push(\"You're under your calorie goal. Consider adding healthy snacks!\");\n  } else if (caloriePercentage > 120) {\n    insights.push(\"You exceeded your calorie goal. Focus on portion control tomorrow.\");\n  } else {\n    insights.push(\"Great job hitting your calorie target! \ud83c\udf89\");\n  }\n  \n  if (proteinPercentage < 80) {\n    insights.push(\"Increase your protein intake with lean meats or plant-based proteins.\");\n  }\n  \n  const report = {\n    user_id: data.id,\n    email: data.email,\n    name: data.name,\n    date: new Date().toLocaleDateString(),\n    calories: {\n      consumed: data.total_calories,\n      target: data.daily_calorie_target,\n      percentage: Math.round(caloriePercentage)\n    },\n    protein: {\n      consumed: data.total_protein,\n      target: data.daily_protein_target,\n      percentage: Math.round(proteinPercentage)\n    },\n    insights: insights,\n    emoji: caloriePercentage >= 80 && caloriePercentage <= 120 ? '\ud83c\udf89' : caloriePercentage < 80 ? '\ud83d\udcc8' : '\u26a0\ufe0f'\n  };\n  \n  reports.push(report);\n}\n\nreturn reports.map(report => ({ json: report }));"
      },
      "name": "Generate Nutrition Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "calai-nutrition@example.com",
        "toEmail": "={{ $json.email }}",
        "subject": "\ud83c\udf4e Your Daily Nutrition Report - {{ $json.date }}",
        "emailFormat": "html",
        "message": "<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f9fa;'><div style='background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); padding: 30px; border-radius: 15px; text-align: center; color: white; margin-bottom: 30px;'><h1 style='margin: 0; font-size: 28px;'>{{ $json.emoji }} Daily Nutrition Report</h1><p style='margin: 10px 0 0 0; font-size: 18px; opacity: 0.9;'>{{ $json.name }}</p><p style='margin: 5px 0 0 0; font-size: 16px; opacity: 0.8;'>{{ $json.date }}</p></div><div style='background: white; padding: 25px; border-radius: 15px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin-bottom: 20px;'><h2 style='color: #333; margin-top: 0;'>\ud83d\udcca Today's Performance</h2><div style='display: grid; grid-template-columns: 1fr 1fr; gap: 20px; margin: 20px 0;'><div style='text-align: center; padding: 20px; background: #f8f9fa; border-radius: 10px;'><div style='font-size: 24px; font-weight: bold; color: #667eea;'>{{ $json.calories.consumed }}</div><div style='color: #666; font-size: 14px;'>Calories</div><div style='color: #999; font-size: 12px;'>of {{ $json.calories.target }} goal</div></div><div style='text-align: center; padding: 20px; background: #f8f9fa; border-radius: 10px;'><div style='font-size: 24px; font-weight: bold; color: #28a745;'>{{ $json.protein.consumed }}g</div><div style='color: #666; font-size: 14px;'>Protein</div><div style='color: #999; font-size: 12px;'>of {{ $json.protein.target }}g goal</div></div></div></div><div style='background: white; padding: 25px; border-radius: 15px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin-bottom: 20px;'><h2 style='color: #333; margin-top: 0;'>\ud83d\udca1 Personalized Insights</h2><ul style='color: #555; line-height: 1.6;'>{{ $json.insights.map(insight => `<li style='margin-bottom: 10px;'>${insight}</li>`).join('') }}</ul></div><div style='text-align: center; margin-top: 30px;'><a href='https://empty-lines-exist.loca.lt' style='background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; text-decoration: none; padding: 15px 30px; border-radius: 25px; font-weight: bold; display: inline-block;'>Log Your Next Meal</a></div><div style='text-align: center; margin-top: 20px; color: #999; font-size: 12px;'><p>Your health journey matters! \ud83c\udf1f</p><p>CalAI - Your Personal Nutrition Assistant</p></div></div>",
        "sender": "Gmail",
        "binaryAttachments": []
      },
      "name": "Send Email Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get User Nutrition Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Nutrition Data": {
      "main": [
        [
          {
            "node": "Generate Nutrition Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Nutrition Report": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
