n8n-workflows/streak-maintenance.json
{
  "name": "Streak Maintenance Reminders",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "name": "Every 6 Hours Check",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.id, u.email, u.name, MAX(ml.logged_at) as last_meal_date, EXTRACT(EPOCH FROM (NOW() - MAX(ml.logged_at))) / 3600 as hours_since_last_meal FROM users u LEFT JOIN meal_logs ml ON u.id = ml.user_id WHERE u.created_at >= NOW() - INTERVAL '30 days' GROUP BY u.id, u.email, u.name"
      },
      "name": "Find Inactive Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate personalized motivation messages\nconst userData = $input.all();\nconst messages = [];\n\nfor (const user of userData) {\n  const data = user.json;\n  let message = '';\n  let emoji = '💪';\n  let suggestion = '';\n  \n  const hoursSince = Math.floor(data.hours_since_last_meal || 48);\n  \n  if (data.last_meal_date === null) {\n    message = `Welcome back ${data.name}! It's time to start your nutrition journey!`;\n    suggestion = 'Try logging a simple breakfast to get started.';\n    emoji = '🌟';\n  } else if (hoursSince >= 48) {\n    message = `Hey ${data.name}! We miss you at CalAI!`;\n    suggestion = 'It\\'s been 2 days since your last meal log. Let\\'s get back on track!';\n    emoji = '📱';\n  } else if (hoursSince >= 36) {\n    message = `Hi ${data.name}! Don't break your streak!`;\n    suggestion = 'You\\'re so close to maintaining your daily logging habit!';\n    emoji = '🔥';\n  }\n  \n  messages.push({\n    user_id: data.id,\n    email: data.email,\n    name: data.name,\n    hours_since_last_meal: hoursSince,\n    message: message,\n    suggestion: suggestion,\n    emoji: emoji,\n    quick_meals: [\n      'Greek Yogurt with Berries (300 cal, 20g protein)',\n      'Avocado Toast (250 cal, healthy fats)',\n      'Protein Smoothie (350 cal, 25g protein)',\n      'Chicken Salad (400 cal, 35g protein)'\n    ]\n  });\n}\n\nreturn messages.map(msg => ({ json: msg }));"
      },
      "name": "Generate Motivation Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "calai-motivation@example.com",
        "toEmail": "={{ $json.email }}",
        "subject": "{{ $json.emoji }} We miss you at CalAI! {{ $json.name }}",
        "emailFormat": "html",
        "message": "<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f8f9fa;'><div style='background: linear-gradient(135deg, #ff6b6b 0%, #feca57 100%); padding: 30px; border-radius: 15px; text-align: center; color: white; margin-bottom: 30px;'><h1 style='margin: 0; font-size: 28px;'>{{ $json.emoji }} We Miss You!</h1><p style='margin: 10px 0 0 0; font-size: 18px; opacity: 0.9;'>{{ $json.name }}</p><p style='margin: 5px 0 0 0; font-size: 16px; opacity: 0.8;'>It's been {{ $json.hours_since_last_meal }} hours</p></div><div style='background: white; padding: 25px; border-radius: 15px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin-bottom: 20px;'><h2 style='color: #333; margin-top: 0;'>💪 Don't Break Your Streak!</h2><p style='color: #555; font-size: 16px; line-height: 1.6;'>{{ $json.message }}</p><p style='color: #666; font-style: italic; margin-top: 15px;'>{{ $json.suggestion }}</p></div><div style='background: white; padding: 25px; border-radius: 15px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin-bottom: 20px;'><h2 style='color: #333; margin-top: 0;'>🍎 Quick Meal Ideas</h2><ul style='color: #555; line-height: 1.6;'>{{ $json.quick_meals.map(meal => `<li style='margin-bottom: 10px;'>${meal}</li>`).join('') }}</ul></div><div style='text-align: center; margin-top: 30px;'><a href='https://empty-lines-exist.loca.lt' style='background: linear-gradient(135deg, #ff6b6b 0%, #feca57 100%); color: white; text-decoration: none; padding: 15px 30px; border-radius: 25px; font-weight: bold; display: inline-block;'>Log Your Meal Now</a></div><div style='text-align: center; margin-top: 20px; color: #999; font-size: 12px;'><p>Your health journey matters! 🌟</p><p>CalAI - Your Personal Nutrition Assistant</p></div></div>",
        "sender": "Gmail",
        "binaryAttachments": []
      },
      "name": "Send Re-engagement Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log the re-engagement attempt for analytics\nconst userData = $input.all();\nconst logs = [];\n\nfor (const user of userData) {\n  const data = user.json;\n  \n  logs.push({\n    user_id: data.user_id,\n    email: data.email,\n    hours_since_last_meal: data.hours_since_last_meal,\n    campaign_type: 'streak_maintenance',\n    sent_at: new Date().toISOString(),\n    success: true\n  });\n}\n\nreturn logs.map(log => ({ json: log }));"
      },
      "name": "Log Re-engagement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "automation_logs",
        "columns": "user_id, campaign_type, hours_since_last_meal, sent_at, success",
        "values": "={{ $json.user_id }}, 'streak_maintenance', {{ $json.hours_since_last_meal }}, '{{ $json.sent_at }}', {{ $json.success }}"
      },
      "name": "Save to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Every 6 Hours Check": {
      "main": [
        [
          {
            "node": "Find Inactive Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Inactive Users": {
      "main": [
        [
          {
            "node": "Generate Motivation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Motivation Message": {
      "main": [
        [
          {
            "node": "Send Re-engagement Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Re-engagement Email": {
      "main": [
        [
          {
            "node": "Log Re-engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Re-engagement": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
